.index-container {
    text-align: center;
    align-items: center;
    padding: 40px;
    border: 2px solid #007F73;;
    border-radius: 8px;
    margin: 20px;
    font-size: 20px;
    margin: auto;
  }
  
  
.index-container h2 {
    font-size: 32px;
    margin-top: 20px;
  }
  
.index-container p {
    margin-bottom: 45px; 
    font-size: 17px;
  }
  
.index-container a {
    display: block;
    width: 200px;
    padding: 15px 30px;
    margin: 20px auto;
    font-size: 18px;
    background-color: #2C7865;
    color: #fff;
  }
  
  .App-cont{
    color: #007F73;
  }
  
  .linksClass{
    text-align: center;
    margin-top: 45px;
  }
  
  .index-container a:hover {
    background-color: #90D26D;
    color: #481E14;
  }
  