.dropdown {
    display: block;
    margin-bottom: 30px;
}

.goToHomeButton{
    appearance: none;
    outline: 0;
    background-color: #007F73;
    border: 0;
    padding: 10px 15px;
    color: white;
    border-radius: 3px;
    width: 250px;
    font-size: 18px;
    text-align: center;
    margin-top: 50px;
    width: 250px;
}

.goToHomeButton:hover {
    background-color: #90D26D;
    color: #481E14;
  }

.createEventButton {
    appearance: none;
    outline: 0;
    background-color: #007F73;
    border: 0;
    padding: 10px 15px;
    color: white;
    border-radius: 3px;
    width: 250px;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
  }

  .createEventButton:hover {
    background-color: #90D26D;
    color: #481E14;
  }