/* HomePage.css */
.index-container {
    text-align: center;
    padding: 40px; 
    border: 2px solid white;
    border-radius: 8px;
    margin: 20px;
  }
  .index-container h2 {
    margin-top: 20px;
    margin-bottom: 32px;
  }
  .index-container p {
    margin-bottom: 20px;
  }
  .index-container button {
    display: block;
    width: 250px;
    margin: 40px auto;
  }
  
  .App {
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
    width: 100%;
    padding: 5% 5% 1% 5%;
    margin-top: 50px;
  }


.hp-h1{
    margin-bottom: 45px;
    display: block;
}
.hp-p{
    margin-bottom: 50px;
    display: block;
    font-family: cursive;
    font-size: 1rem;
}

  .homeButtonsDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .homeButtons {
    width: calc(25% - 20px); /* 25% width for each button with 20px margin */
    margin: 10px;
    padding: 20px;
    border: none;
    background-color: #007F73;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
    appearance: none;
    outline: 0;
    font-size: 18px;
    text-align: center;
    color: white;    
  }
  .homeButtons:hover {
    transform: translateY(-5px); /* Add a slight lift on hover */
  }

  .logoutButton {
    display: block;
    margin: 20px auto; /* Center align the logout button */
    padding: 10px 20px;
    background-color: #F59C3B;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 75px;
    width: 120px;
    font-size: 16px;
  }
  .logoutButton:hover {
    background-color: #FA7070;
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    .homeButtons {
      width: calc(50% - 20px); /* 50% width for each button with 20px margin */
    }
  }
  
  @media (max-width: 480px) {
    .homeButtons {
      width: calc(100% - 20px); /* 100% width for each button with 20px margin */
    }
  }
  