.registerButton {
    appearance: none;
    outline: 0;
    background-color: #007F73;
    border: 0;
    padding: 10px 15px;
    color: white;
    border-radius: 3px;
    width: 250px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }

  .registerButton:hover {
    background-color: #90D26D;
    color: #481E14;
  }

  .registerH2{
    color: #007F73;
  }


  